<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


 <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
        
        
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
        
    </script>
    
    
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a href="/">Home</a>
</nav>

<h3 class="text-center">login as approval department</h3>

<div class="container">  

<form action="/login" method="post">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" autocomplete="off" onclick="none()"  required><br>

    <label for="psw"><b>Password</b></label>
    <input type="password" id="psw" placeholder="Enter Password" name="psw" autocomplete="off"  required><br>

    <button type="submit" onclick="noBack()">Login</button>
  </div>
   <h4 id="message" th:text="${message}"></h4>
  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">Forgot <a href="/forgot">password?</a></span>
  </div>
</form>

</div>
<script>
  const pasteBox = document.getElementById("psw");
  pasteBox.onpaste = e => {
    e.preventDefault();
    return false;
  };
  
  var message=document.getElementById("message");
  function none(){
	  message.style.display="none";
  }
  
</script>


</body>
</html>